<body>

    <div class="index-page">

        <div class="text-container">

            <span class="index-header">
                <span id="empower">Empower</span> your organisation.
            </span>
            <span class="index-sub-header">A product designed to save you time, money and worries.</span>
            <span class="index-description">
                MANAGB is a planning and managment platform that helps companies organize and optimize their workflow.
            </span>

            <div class="bullet-points">
                <div class="point">
                    <div class="checkmark">•</div>
                    <div class="point-text">Assign and update the status of tasks so that everyone in your team is on the same page.</div>
                </div>
                <div class="point">
                    <div class="checkmark">•</div>
                    <div class="point-text">Our schedules help you understand where a task fits and how much time there is to complete it.</div>
                </div>
                <div class="point">
                    <div class="checkmark">•</div>
                    <div class="point-text">Ensure all project members can communicate and manage tasks effectively.</div>
                </div>
            </div>
            
        </div>

        <div class="right-page">
            <div class="slider-container">
                <div class="menu">
                    <label for="slide-dot-1"></label>
                    <label for="slide-dot-2"></label>
                </div>
                <input id="slide-dot-1" type="radio" name="slides" checked>
                <div class="slide slide-1"></div>
                <input id="slide-dot-2" type="radio" name="slides">
                <div class="slide slide-2"></div>
            </div>
        </div>

    </div>


</body>